:root{
    --bg-color:rgb(113, 23, 165);
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background:linear-gradient(var(--bg-color), black);
    background-repeat: no-repeat;
    align-items: center;
    justify-content: start;
    padding-top: 50px;
    color: aliceblue;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px white;
    width: 80%;
    max-width: 400px;
    height: 50%;
    gap: 20px;
    padding: 25px;
}

h1{
    color: aliceblue;
    text-shadow: 0 0 5px black;
    margin-bottom: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

p, form{
    text-align: center;
    padding: 10px;    
    font-size: 1.2rem;
}

input{
    padding: 10px;
    border: none;
    border-radius: 10px;
}

button{
    padding: 10px;
    border-color: var(--bg-color);
    border-radius: 10px;
    margin-top: 10px;
    background-color: transparent;
    box-shadow: 0 0 10px white;
    color: antiquewhite;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background-color: rgb(85, 81, 81);
    padding: 10px;
    font-size: 1.3rem;
    color: black;
    text-shadow: 1px 1px 3px var(--bg-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@media (max-width:360px){
    h1{
        font-size: 1rem;
    }
    p, form{  
        font-size: 0.8rem;
    }
    input{
        width: 100%;
        font-size: 0.7rem;
    }
    button{
        font-size: 0.7rem;
    }
}